          
          <div class="news">
            <h2 style="font-size:1.6rem">Teaching Assistant</h2>
            
            <!-- <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign teaching = site.teaching | reverse -%}
              {% for item in teaching %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div> -->
            <div class="table-responsive">
              {%- assign teaching = site.teaching | reverse -%}
              {% for item in teaching %} 
                <ul>
                  <li>{{ item.content }}</li>
                </ul>
              {%- endfor %} 
              </div>
           
          </div>
